@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&family=Poppins:wght@200;300&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Fraunces', serif;
}

.container {
  background-color: white;
  display: flex;
  border: none;
  border-radius: 16px;
  width: 40%;
  margin-top: 8rem;
}
.container img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 2em 2em;
  line-height: 2em;
  width: 100%;
}

.prices {
  display: flex;
  margin-top: 2em;
}
.prices p:nth-of-type(1) {
  font-size: 2em;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}
.prices p:nth-of-type(2) {
  font-size: 14px;
  margin-left: 1em;
  color: hsl(228, 12%, 48%);
}

.title {
  letter-spacing: 0.5em;
  font-weight: 500;
  font-size: xx-small;
  color: hsl(228, 12%, 48%);
}

.sub-title {
  font-weight: 700;
  width: 90%;
  line-height: 1.5em;
  font-size: 1.5rem;
}

.description-text {
  width: 100%;
  margin-top: 1.5em;
  font-size: 1em;
  color: hsl(228, 12%, 48%);
}

button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  padding: 1em;
  width: 80%;
  color: white;
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 16px;
}
button p {
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  transition: 300ms ease-in-out;
  background-color: hsl(158, 41%, 16%);
}

#icon {
  margin-right: 1em;
}

.attribution {
  margin-top: 1em;
}

@media (max-width: 1100px) {
  .container {
    display: flex;
    width: 85%;
    flex-direction: column;
  }
  .container img {
    width: 100%;
    height: 24em;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 475px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
}
